
Dockerfile.dev
Dockerfile.prod
docker-compose.dev.yml
docker-compose.prod.yml

dist
build
node_modules

.husky
.vscode

.eslintrc.js
.prettierrc
.editorconfig
jest.config.js
.git
.gitignore
.dockerignore
.env
